section {
    display: flex;
    justify-content: space-between;
}
div {
    background-color: green;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin: 10px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}
button{
    background-color: gray;
    text-decoration: none;
    color: black;
}
img{
    height: 200px;
    width: 400px;
}
p{
    color: rgb(228, 244, 6);
    width: 80px;
    height: 20px;
    background-color: rgb(1, 47, 249);
    text-align: center;
    justify-content: space-between;
}

